header.header {
  display: flex;
  justify-content: center;
  color: $color1;
  background-color: $color4;
  font-size: 36px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}
