@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

$color1: #204051;
$color2: #3b6978;
$color3: #84a9ac;
$color4: #cae8d5;

$mobile: 400px;
